.list {
    height: 83vh;
    font-weight: bold;
    color: var(--color-text-main);
}

.lists {
    height: 83vh;
    font-weight: bold;
    color: var(--color-text-main);
    margin: 0 auto;
    width: 1000px;
}

.Empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    height: 150px;
    width: 150px;
    background-image: url("../assets/document-data-file-not-found-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-etc-vector-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.valider {
    margin-left: 10px;
    color: var(--color-primary);
    cursor: pointer;
}


.titre {
    font-size: 26px;
    font-family: 'nunito', 'sans-serif';
    display: flex;
    align-items: center;
}

.chooseSemestre {
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.127);
}

.create {
    font-weight: bold;
}

.file-label {
    cursor: pointer;
}

.delete {
    color: red;
    cursor: pointer;
}

.listEtud {
    height: 49vh;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.127);
    margin-top: 5px;
}




.listEtudValue {
    margin-top: 10px;
    height: 75%;
    overflow-y: scroll;
}

.header {
    display: flex;
    align-items: end;
}

.widthemails {
    width: 20%;
    font-weight: 600;
}



.width {
    width: 15%;
    font-weight: 600;
}

li {
    list-style: none;
}


.generates {
    color: var(--color-third);
    margin-left: 35px;
    cursor: pointer;
}

.widthvalue {
    width: 15%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.widthvalueemails {
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
}

.widthvalueTrash {
    width: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.widthvaluenom {
    width: 30%;
}


.widthvalueemail {
    width: 30%;
    display: flex;
    align-content: center;

}




.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.127);
}

.formInput {
    display: flex;
    flex-wrap: wrap
}



.widthnom {
    width: 30%;
    font-weight: 600;
}



.widthemail {
    width: 30%;
    font-weight: 600;

}

.head {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.127);
    border-top: 2px solid rgba(128, 128, 128, 0.127);
}

.divbtn {
    display: flex;
    align-items: end;
}

.btn {
    background-color: var(--color-third);
    padding: 5px 20px 5px 20px;
    border: 2px var(--color-third) solid;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-right: 15px;
}